<html>
  <head>
    <title>template - 1</title>
    <link type="text/css" rel="stylesheet" href="stylesheets/template-1/base.css"/>
  </head>
  <body>
    <!-- page top -->
    <div class="top">
      <div class="logo">
        &nbsp;
      </div>
      <div class="tools">
        <ul>
          <li><a href="#">home</a></li>
          <li><a href="#">settings</a></li>
        </ul>
      </div>
    </div>

    <!-- page content area -->
    <div class="center">
      <!-- tab based navigation area -->
      <div id="tabsC">
        <ul>
          <li>
            <a href="#" title="Link 1" class="selected">
              <span>
                <img src="images/template-1/chart.png" alt="G"/>
                <b>charts</b>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Link 2">
              <span>
                <img src="images/template-1/info.png" alt="I"/>
                <b>information</b>
              </span>
            </a>
          </li>
          <li>
            <a href="#" title="Link 3">
              <span>
                <img src="images/template-1/tools.png" alt="T"/>
                <b>tools</b>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <!--- content area -->
      <div class="tab-content">
        <h2>
          <a href="#">today</a>'s memory usages
        </h2>
        <h2>
          <a href="#">today</a>'s read/write usages
        </h2>

        <table summary="Submitted table designs">
          <thead>
            <tr>
              <th scope="col">Design Name</th>
              <th scope="col">Author</th>

              <th scope="col">Country</th>
              <th scope="col">Comment</th>
              <th scope="col">Download</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th scope="row">Total</th>

              <td colspan="4">98 designs</td>
            </tr>
          </tfoot>
          <tbody>
            <tr>
              <th scope="row" id="r97"><a href="index.php?css=97#r97">TagBox</a>
              </th>
              <td><a href="http://www.tagbox.de">TagBox</a></td>

              <td>Deutschland</td>
              <td>Table design based on the fresh TagBox style.</td>
              <td><a href="http://www.tagbox.de/style/tagbox.css"
                     title="Download the TagBox CSS file">Download</a></td>
            </tr>
            <tr class="odd">
              <th scope="row" id="r96"><a href="index.php?css=96#r96">Maniac
                Merchants</a></th>
              <td><a href="http://www.marvmerchants.com">Marten Willberg</a>
              </td>

              <td>Germany</td>
              <td>A Georgia headline with a green-blue body.</td>
              <td><a href="http://www.marvmerchants.com/merchants.css"
                     title="Download the Maniac Merchants CSS file">Download</a>
              </td>
            </tr>
            <tr>
              <th scope="row" id="r95"><a href="index.php?css=95#r95">Acuity
                Design Style</a></th>
              <td><a href="http://www.acuity.com.br">Acuity Internet
                Marketing</a></td>

              <td>Brazil</td>
              <td>Black Style, with smooth grey and green elements.</td>
              <td><a
                  href="http://www.acuity.com.br/extern/icant.co.uk/acuity.css"
                  title="Download the Acuity Design Style CSS file">Download</a>
              </td>
            </tr>
            <tr class="odd">
              <th scope="row" id="r94"><a href="index.php?css=94#r94">Aqua</a>
              </th>
              <td><a href="http://www.webdesign-up2date.de">Matthias Richter</a>
              </td>

              <td>Germany</td>
              <td>Have fun!</td>
              <td><a
                  href="http://www.webdesign-up2date.de/css-table/css-up2date.css"
                  title="Download the Aqua CSS file">Download</a></td>
            </tr>
          </tbody>
        </table>
        <h2>tools</h2>

      </div>
    </div>

    <!-- page footer area -->
    <div class="bottom">

    </div>
  </body>
</html>